@model groove_music.ViewModels.AddMusicViewModel

@{
    if (ViewBag.IsPartial == null || !(bool)ViewBag.IsPartial)
    {
        Layout = "_Layout";
    }
    ViewData["Title"] = "Add Music";
}

<form asp-action="AddMusic" method="post">
    <div class="form-group">
        <label asp-for="Music.AlbumId">Album</label>
        <select asp-for="Music.AlbumId" class="form-control" asp-items="@(new SelectList(Model.Albums, "AlbumId", "AlbumName"))"></select>
        <span asp-validation-for="Music.AlbumId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Music.MusicName"></label>
        <input asp-for="Music.MusicName" class="form-control" />
        <span asp-validation-for="Music.MusicName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Music.MusicCover"></label>
        <input asp-for="Music.MusicCover" class="form-control" />
        <span asp-validation-for="Music.MusicCover" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Music</button>
</form>
